/* reset css */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* font css */
@font-face {
  font-family: "seymour one";
  src: url("../font/Seymour_One/SeymourOne-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "shrikhand";
  src: url("../font/Shrikhand/Shrikhand-Regular.ttf") format("truetype");
}

/* app css */

:root {
  --pink: #ff9d9d;
  --rose: #ff9de9;
  --orange: #ffc09d;
  --green: #a4ee98;
  --blue: #9dcaff;

  --silver: #d9d9d9;
  --gray: #b3b3b3;
}
html {
  box-sizing: border-box;
  font-size: 10px;
  overflow-x: hidden;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
body {
  font-family: "seymour one";
  line-height: 1.6;
  font-size: 1.6rem;
  background-color: var(--blue);
}

/* 

    --> Reset Style <-- 

*/
button {
  background-color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
}

/* 

  --> Helper Class <--

*/

/* 

    --> App Style <--

*/
.container {
  width: 100%;
  min-height: 100vh;
  color: #fff;
  position: relative;
  overflow: hidden;
}
.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: transform 0.2s;
  top: 50%;
  bottom: 50%;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%) scale(0.1);
}
.bg-blue .bg--active {
  background-color: var(--blue);
  transform: translate(-50%, -50%) scale(1);
  border-radius: 0;
}
.bg-rose .bg--active {
  background-color: var(--rose);
  transform: translate(-50%, -50%) scale(1);
  border-radius: 0;
}
.bg-green .bg--active {
  background-color: var(--green);
  transform: translate(-50%, -50%) scale(1);
  border-radius: 0;
}
.wrapper {
  padding: 1.5rem;
  max-width: 100rem;
  margin: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 100;
  position: relative;
}
/* result */
.result {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.result__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.result__score {
  text-shadow: 4px 4px 0px #000;
  font-size: 16rem;
  -webkit-text-stroke: 5px #000;

  margin: -5rem 0;
}
.ai-score {
}
.human-score {
}
.result__name {
  font-size: 4.8rem;
  text-shadow: 4px 4px 0px #000;
  letter-spacing: -0.48rem;
  text-transform: uppercase;
  -webkit-text-stroke: 3px #000;
}

/* choice */
.choice,
.outcome {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 5rem;
  left: 0;
  right: 0;
  gap: 3.1rem;
}
/* ############### */ /* todo */
.processing .choice,
.result .choice {
  display: none;
}
/* ############### */

.choice__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 15rem;
  height: 15rem;
  position: relative;
  transition: all 0.3s;

  background-color: #000;
  filter: drop-shadow(4px 4px 0px #000);
}
.choice__btn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: -1;

  background-color: #fff;
  box-shadow: 4px -7px 0px 0px #c2c2c2 inset;
}
.choice__btn:hover {
  animation: choiceHover 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.choice__img {
  width: 100%;
  position: absolute;
  bottom: 0;
  transition: all 0.3s;
}
.choice__btn:hover .choice__img {
  /* transform: rotate(-10deg); */
  animation: skew-y-shakeing 0.3s 1 forwards alternate;
}

/* outcome */
.outcome {
  display: none;
  flex-direction: column;
}
.result .outcome {
  display: flex;
}
.outcome__title {
  text-transform: uppercase;
  text-shadow: 4px 4px 0px #000;
  font-size: 9.6rem;
  letter-spacing: -0.96rem;
  -webkit-text-stroke: 5px #000;
}
.outcome__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
  flex-wrap: wrap;
}
.outcome__btn {
  font-size: 3.2rem;
  font-family: Shrikhand;
  border: 2px solid #000;
  box-shadow: 4px 4px 0px 0px #000, 4px -7px 0px 0px #c2c2c2 inset;
  transition: all 0.2s;
}
.outcome__btn span {
  transition: all 0.2s;
}
.outcome__btn:hover span {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-3deg);
}
.outcome__btn:hover {
  box-shadow: 4px 8px 0px 0px #000, 3px -5px 0px 0px #c2c2c2 inset;
}
.outcome__next {
}
.outcome__restart {
}

/* hand */
.hand__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}
.hand {
  position: relative;
  bottom: -10%;
  width: 24rem;
  height: 60rem;

  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: both;
}
.ai_hand {
  animation-name: aiHandShake;
}
.human_hand {
  animation-name: humanHandShake;
  z-index: 2;
}

/* ############### */
.processing .ai_hand {
  animation-iteration-count: 1;
  animation-name: aiProcessing;
}
.processing .human_hand {
  animation-iteration-count: 1;

  animation-name: humanProcessing;
}
.result .hand {
  animation: none;
}
/* ############### */

.action {
  width: 100%;
  height: 35%;
  position: absolute;
  z-index: 2;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transform-origin: bottom;

  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: both;
  animation-direction: alternate;
}
.ai__action {
  transform: rotate(15deg);
  animation-name: aiActionShake;
  background-image: url("../images/ai/rock-ai.png");
  top: -2%;
  left: 85%;
}
.human__action {
  transform: rotate(-15deg);
  animation-name: humanActionShake;
  background-image: url("../images/human/rock-human.png");
  top: -4%;
  right: 80%;
}

/* ###############  */
.result .action--animationPaused {
  animation-play-state: paused;
}

.result .ai__action {
  transform: rotate(+43deg) !important;
}
.result .human__action {
  transform: rotate(-43deg) !important;
}
/* rock */
.result .ai__action--rock {
  background-image: url("../images/ai/rock-ai.png");
}
.result .human__action--rock {
  background-image: url("../images/human/rock-human.png");
}

/* paper */
.result .ai__action--paper {
  background-image: url("../images/ai/paper-ai.png");
  height: 45%;
  top: -10%;
}
.result .human__action--paper {
  background-image: url("../images/human/paper-human.png");
  height: 45%;
  top: -15%;
  right: 80%;
}

/* scissors */
.result .ai__action--scissors {
  background-image: url("../images/ai/scissors-ai.png");
  height: 50%;
  top: -15%;
}
.result .human__action--scissors {
  background-image: url("../images/human/scissors-human.png");
  height: 50%;
  top: -15%;
  right: 80%;
}
/* ############### */

.arm {
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  background-size: contain;
}
.ai__arm {
  background-image: url("../images/ai/arm-ai.png");
  transform: rotate(50deg);
}
.human__arm {
  background-image: url("../images/human/arm-human.png");
  transform: rotate(-50deg);
}

/* animations */

@keyframes aiHandShake {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-10deg);
  }
  90% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes humanHandShake {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(10deg);
  }
  90% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes aiActionShake {
  0% {
    transform: rotate(7deg);
  }
  100% {
    transform: rotate(23deg);
  }
}

@keyframes humanActionShake {
  0% {
    transform: rotate(-7deg);
  }
  100% {
    transform: rotate(-23deg);
  }
}

/* Processing */
@keyframes aiProcessing {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(-30deg);
  }
  60% {
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(-15deg);
  }
  80% {
    transform: rotate(0deg);
  }
  90% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes humanProcessing {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(30deg);
  }
  50% {
    transform: rotate(30deg);
  }
  60% {
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(15deg);
  }
  80% {
    transform: rotate(0deg);
  }
  90% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* choice hover */
@keyframes skew-y-shakeing {
  0% {
    transform: rotate(0deg) translateX(0px) translateY(0px);
  }
  80% {
    transform: rotate(-15deg) translateX(-5px) translateY(-5px);
  }
  90% {
    transform: rotate(0deg) translateX(-5px) translateY(-5px);
  }
  100% {
    transform: rotate(-15deg) translateX(-5px) translateY(-5px);
  }
}

@keyframes choiceHover {
  0% {
    transform: translateZ(0) translateX(0) translateY(0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    transform: translateZ(50px) translateX(-12px) translateY(-12px);
    box-shadow: 12px 12px 20px -12px rgba(0, 0, 0, 0.35);
    filter: drop-shadow(10px 10px 0px #000);
  }
}

/* responsive css */
@media (max-width: 1400px) {
  .result__score {
    font-size: 14rem;
  }
  .result__name {
    font-size: 4rem;
  }
}
@media (max-width: 1200px) {
  .hand {
    width: 20rem;
    height: 50rem;
  }
  .outcome__title {
    font-size: 7rem;
  }
}
@media (max-width: 992px) {
  .result__score {
    font-size: 10rem;
  }
  .result__name {
    font-size: 3rem;
  }
  .outcome__title {
    font-size: 5rem;
    letter-spacing: 0;
  }
  .hand {
    width: 16rem;
    height: 40rem;
  }
  .choice__btn {
    width: 10rem;
    height: 10rem;
  }
  .outcome {
    flex-grow: 1;
    justify-content: space-between;
  }
}
@media (max-width: 768px) {
  .result__score {
    font-size: 5rem;
    margin: -2rem 0;
  }
  .result__name {
    letter-spacing: 0;
    font-size: 2rem;
  }
  .outcome__title {
    font-size: 4rem;
  }
  .outcome__btn {
    font-size: 2.5rem;
  }
  .choice__btn {
    width: 8rem;
    height: 8rem;
  }
  .hand {
    width: 12rem;
    height: 30rem;
  }
  .choice,
  .outcome {
    bottom: 0;
  }
}
@media (max-width: 576px) {
  .hand {
    width: 10rem;
    height: 25rem;
  }
  .choice__btn {
    width: 7rem;
    height: 7rem;
  }
  .outcome,
  .choice {
    flex-grow: 1;
    justify-content: center;
  }
  .choice {
  }
}
@media (max-width: 476px) {
  .hand {
    width: 8rem;
    height: 20rem;
  }
  .outcome__title {
    font-size: 3rem;
    -webkit-text-stroke: 2px #000;
  }
  .result__score,
  .result__name {
    -webkit-text-stroke: 2px #000;
  }
  .outcome__btn {
    font-size: 2rem;
  }
  .choice__btn {
    width: 5.5rem;
    height: 5.5rem;
  }
  .choice {
    gap: 2rem;
  }
}
@media (max-width: 395px) {
  .outcome__btn {
    font-size: 1.5rem;
  }

  .result__score {
    -webkit-text-stroke: 1px #000;
    font-size: 4rem;
    margin: 0;
  }
  .result__name {
    -webkit-text-stroke: 1px #000;
    font-size: 1.5rem;
  }
  .outcome__title {
    font-size: 2.5rem;
    -webkit-text-stroke: 1px #000;
  }
  .hand {
    width: 6rem;
    height: 15rem;
  }
}
