:root {
  --pink: #ff9d9d;
  --rose: #ff9de9;
  --orange: #ffc09d;
  --green: #a4ee98;
  --blue: #9dcaff;

  --silver: #d9d9d9;
  --gray: #b3b3b3;
}
html {
  box-sizing: border-box;
  font-size: 10px;
  overflow-x: hidden;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
body {
  font-family: "seymour one";
  line-height: 1.6;
  font-size: 1.6rem;
}

/* 

    --> Reset Style <-- 

*/
button {
  background-color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
}

/* 

  --> Helper Class <--

*/

/* 

    --> App Style <--

*/
.container {
  width: 100%;
  min-height: 100vh;
  color: #fff;
  background-color: var(--blue);
  position: relative;

  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
}
.wrapper {
  padding: 1.5rem;
}
/* result */
.result {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.result__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.result__score {
  text-shadow: 4px 4px 0px #000;
  font-size: 16rem;
  -webkit-text-stroke: 5px #000;

  margin: -5rem 0;
}
.ai-score {
}
.human-score {
}
.result__name {
  font-size: 4.8rem;
  text-shadow: 4px 4px 0px #000;
  letter-spacing: -0.48rem;
  text-transform: uppercase;
  -webkit-text-stroke: 3px #000;
}

/* choice */
.choice,
.outcome {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 5rem;
  left: 0;
  right: 0;
  gap: 3.1rem;
  z-index: 100;
}
/* ############### */ /* todo */
.processing .choice,
.result .choice {
  display: none;
}
/* ############### */

.choice__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 22.2rem;
  height: 22.2rem;
  position: relative;
  transition: all 0.3s;

  background-color: #000;
  filter: drop-shadow(4px 4px 0px #000);
}
.choice__btn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: -1;

  background-color: #fff;
  box-shadow: 4px -7px 0px 0px #c2c2c2 inset;
}
.choice__btn:hover {
  animation: choiceHover 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.choice__img {
  width: 130%;
  position: absolute;
  bottom: 0;
  transition: all 0.3s;
}
.choice__btn:hover .choice__img {
  /* transform: rotate(-10deg); */
  animation: skew-y-shakeing 0.3s 1 forwards alternate;
}

/* hand */
.hand__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}
.hand {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  bottom: -10%;
}
.ai_hand {
  animation: aiHandShake 2s linear infinite both;
  left: -5%;
}
.human_hand {
  justify-self: flex-end;
  animation: humanHandShake 2s linear infinite both;
  right: -5%;
}

/* ############### */ /* todo */
.processing .ai_hand {
  animation: aiProcessing 2s linear 1 both;
}
.processing .human_hand {
  animation: humanProcessing 2s linear 1 both;
}
.result .hand {
  animation: none;
}
/* ############### */

.action {
  position: absolute;
  top: -27rem;
  z-index: 2;
  background-repeat: no-repeat;
  background-position: center;
}
.ai__action {
  width: 78.9rem;
  height: 80.5rem;
  transform: rotate(14.417deg);
  left: 37rem;
  animation: aiActionShake 2s linear infinite both alternate;
  background-image: url("../images/ai/rock-ai.png");
}
.human__action {
  width: 76.1rem;
  height: 78.3rem;
  transform: rotate(-14.417deg) scaleX(-1);
  right: 28rem;
  animation: humanActionShake 2s linear infinite both alternate;
  background-image: url("../images/human/rock-human.png");
}

/* ###############  */ /* todo */
.result .action {
  top: -23rem;
}
.result .ai__action {
  transform: rotate(30deg);
  left: 39rem;
}
.result .human__action {
  transform: rotate(-30deg) scaleX(-1);
  right: 33rem;
}
/* rock */
.result .ai__action--rock {
  background-image: url("../images/ai/rock-ai.png");
}
.result .human__action--rock {
  background-image: url("../images/human/rock-human.png");
}

/* paper */
.result .ai__action--paper {
  background-image: url("../images/ai/paper-ai.png");
}
.result .human__action--paper {
  background-image: url("../images/human/paper-human.png");
}

/* scissors */
.result .ai__action--scissors {
  background-image: url("../images/ai/scissors-ai.png");
}
.result .human__action--scissors {
  background-image: url("../images/human/scissors-human.png");
}

/*  */

.result .action--animationPaused {
  animation-play-state: paused;
}
/* ############### */
.arm {
  background-repeat: no-repeat;
  background-position: center;
}
.ai__arm {
  width: 44.1rem;
  height: 121.6rem;
  background-image: url("../images/ai/arm-ai.png");
  transform: rotate(50deg);
}
.human__arm {
  width: 44.3rem;
  height: 121.8rem;
  background-image: url("../images/human/arm-human.png");
  transform: rotate(-50deg) scaleX(-1);
}

/* outcome */
.outcome {
  display: none;
  flex-direction: column;
}
.result .outcome{
  display: flex;
}
.outcome__title {
  text-transform: uppercase;
  text-shadow: 4px 4px 0px #000;
  font-size: 9.6rem;
  letter-spacing: -0.96rem;
  -webkit-text-stroke: 5px #000;
}
.outcome__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
  flex-wrap: wrap;
}
.outcome__btn {
  font-size: 3.2rem;
  font-family: Shrikhand;
  border: 2px solid #000;
  box-shadow: 4px 4px 0px 0px #000, 4px -7px 0px 0px #c2c2c2 inset;
  transition: all 0.2s;
}
.outcome__btn span {
  transition: all 0.2s;
}
.outcome__btn:hover span {
  display: flex;
  align-items: center;justify-content: center;
  transform: rotate(-3deg);
}
.outcome__btn:hover {
  box-shadow: 4px 8px 0px 0px #000, 3px -5px 0px 0px #c2c2c2 inset;
}
.outcome__next {
}
.outcome__restart {
}

/* animations */

@keyframes aiHandShake {
  0 {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-2deg);
  }
  50% {
    transform: rotate(0);
  }
  75% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes humanHandShake {
  0 {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(2deg);
  }
  50% {
    transform: rotate(0);
  }
  75% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes aiActionShake {
  0 {
    transform: rotate(14.417deg);
  }

  100% {
    transform: rotate(19.417deg);
  }
}
@keyframes humanActionShake {
  0 {
    transform: rotate(-14.417deg) scaleX(-1);
  }
  100% {
    transform: rotate(-25.417deg) scaleX(-1);
    right: 75%;
    top: -20%;
  }
}

/* Processing */
@keyframes aiProcessing {
  0 {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(-30deg);
  }
  60% {
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(-15deg);
  }
  80% {
    transform: rotate(0deg);
  }
  90% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes humanProcessing {
  0 {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(30deg);
  }
  50% {
    transform: rotate(30deg);
  }
  60% {
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(15deg);
  }
  80% {
    transform: rotate(0deg);
  }
  90% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* choice hover */
@keyframes skew-y-shakeing {
  0% {
    transform: rotate(0deg) translateX(0px) translateY(0px);
  }
  80% {
    transform: rotate(-15deg) translateX(-5px) translateY(-5px);
  }
  90% {
    transform: rotate(0deg) translateX(-5px) translateY(-5px);
  }
  100% {
    transform: rotate(-15deg) translateX(-5px) translateY(-5px);
  }
}

@keyframes choiceHover {
  0% {
    transform: translateZ(0) translateX(0) translateY(0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    transform: translateZ(50px) translateX(-12px) translateY(-12px);
    box-shadow: 12px 12px 20px -12px rgba(0, 0, 0, 0.35);
    filter: drop-shadow(10px 10px 0px #000);
  }
}
