@font-face {
  font-family: "seymour one";
  src: url("../font/Seymour_One/SeymourOne-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "shrikhand";
  src: url("../font/Shrikhand/Shrikhand-Regular.ttf") format("truetype");
}
